* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  margin: 0px;
}

.child {
  background-color: blue;
}

nav {
  background-color: peachpuff;
}

#nav-list {
  /* margin: 0px auto 0px auto; */
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}

.right-menu {
  display: flex;
  justify-content: space-between;
}

.right-menu li {
  margin-right: 0.5rem;
}
